{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="blog-post-area">
                        <h2 class="title text-center">آخریـن اخبـار</h2>
                        {% for blog in blogs.items %}
                            <div class="single-blog-post">
                                <h3>{{ blog.title }}</h3>
                                <div class="post-meta">
                                    <ul>
                                        <li><i class="fa fa-user"></i> {{ blog.category.name }}</li>
                                        <li><i class="fa fa-clock-o"></i> 17:20 ب.ظ</li>
                                        <li><i class="fa fa-calendar"></i> 28 تیـر 1397</li>
                                    </ul>
                                    <span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
                                </div>
                                {% if blog.image %}
                                    <a href="">
                                        <img src="{{ url_for('media_url',filename=blog.image) }}" alt="">
                                    </a>
                                {% else %}
                                    <a href="">
                                        <img src="{{ url_for('static',filename='images/blog/blog-one.jpg') }}" alt="">
                                    </a>
                                {% endif %}
                                <p>{{ blog.body [:250]|safe }} ...</p>
                                <a class="btn btn-primary" href="{{ url_for('blog.blog_detail',id=blog.id) }}">ادامـه
                                    مطلب</a>
                            </div>
                        {% endfor %}


                        <div class="pagination-area">
                            <ul class="pagination">
                                {% if blogs.has_prev %}
                                    <li><a href="{{ url_for('blog.blog_list',page=blogs.prev_num) }}"><i
                                            class="fa fa-angle-double-left"></i></a></li>
                                {% endif %}
                                {% for page_number in blogs.iter_pages() %}
                                    {% if page_number %}
                                        {% if page_number != blogs.page %}
                                            <li>
                                                <a href="{{ url_for('blog.blog_list',page=page_number) }}">{{ page_number }}</a>
                                            </li>
                                        {% else %}
                                            <li><a href="#" class="active">{{ page_number }}</a></li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                {% if blogs.has_next %}
                                    <li><a href="{{ url_for('blog.blog_list',page=blogs.next_num) }}"><i
                                            class="fa fa-angle-double-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </div>


                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">
                        <h2>دسته بندی محصولات</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    {% for cat in categories %}
                                        <li><a href="">{{ cat.name }} </a></li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div><!--/category-productsr-->

                        <div class="brands_products"><!--brands_products-->
                            <h2>برنـد ها</h2>
                            <div class="brands-name">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href=""> <span class="pull-left">(50)</span>برنـد 1</a></li>
                                    <li><a href=""> <span class="pull-left">(56)</span>برنـد 2</a></li>
                                    <li><a href=""> <span class="pull-left">(27)</span>برنـد 3</a></li>
                                    <li><a href=""> <span class="pull-left">(32)</span>برنـد 4</a></li>
                                    <li><a href=""> <span class="pull-left">(5)</span>برنـد 5</a></li>
                                </ul>
                            </div>
                        </div><!--/brands_products-->

                        <div class="price-range"><!--price-range-->
                            <h2>فیلتـر قیمـت</h2>
                            <div class="well">
                                <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="1000000"
                                       data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br/>
                                <b>1.000.000 ريال</b> <b class="pull-left">0 ريال</b>
                            </div>
                        </div><!--/price-range-->

                        <div class="shipping text-center"><!--shipping-->
                            <img src="{{ url_for('static',filename='images/home/shipping.jpg') }}" alt=""/>
                        </div><!--/shipping-->

                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}