<script src="{{ url_for('static',filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static',filename='js/price-range.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/jquery.prettyPhoto.js') }}"></script>
<script src="{{ url_for('static',filename='js/main.js') }}"></script>
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>